*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    font-size: 2rem;
    background-color: #549b8c;
}

article{
    margin: 1rem;
}

ul{
    list-style-type: none;
    margin: 1rem;
}

a{
    color: whitesmoke;
}

footer{
    padding: 1rem;
    background-color: #447e71;
    position: absolute;
    bottom: 0;
    right: 0;
}